:root {
  --primary-color: #212121;
  --hero-color: #ffffff;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --logo-dak-color: #000000;
  --accent-background-color: #188ce8;
  --hero-background-color: #2f303a;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303f;
}

body {
  color: var(--primary-color);
  background-color: var(--primary-background-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
}

/* обнуляє відступи для h, p ul */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
/* Header */

.header {
  background-color: var(--primary-background-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
  outline: 2px solid tomato;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-header-nav {
  display: flex;
  text-align: center;
}
.flex-nav {
  display: flex;
  flex-direction: row;

  background-color: var(--primary-background-color);

  margin-right: 344px;
}

.list-header {
  display: flex;
}

.list-header li:not(:last-child) {
  margin-right: 50px;
}

.logo-header {
  display: flex;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--accent-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);

  text-decoration: none;
}
.logo-header:hover {
  text-decoration: underline;
}
.logo-dark {
  color: var(--logo-dak-color);
}
.logo-header:hover .logo-dark {
  color: var(--logo-dak-color);
}

/* Навігація */

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-color);

  font-weight: 500;
  letter-spacing: 0.02em;

  text-decoration: none;
}
.nav-item {
  display: flex;

  padding-right: 0;
}
.nav-link:hover {
  color: var(--accent-color);
  text-decoration: underline;
}
.nav-link:focus {
  color: var(--accent-color);
}

/* Email в header */

.mail-link {
  padding-bottom: 32px;
  padding-top: 32px;

  color: var(--secondary-color);

  font-weight: 500;
  letter-spacing: 0.02em;

  text-decoration: none;
}
.mail-link:hover {
  color: var(--accent-color);
  text-decoration: underline;
}
.mail-link:focus {
  color: var(--accent-color);
}
/* Телефон в header */

.header-phone {
  flex-shrink: 0;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-color);

  font-weight: 500;
  letter-spacing: 0.02em;

  text-decoration: none;
}
.header-phone:hover {
  color: var(--accent-color);
  text-decoration: underline;
}
.header-phone:focus {
  color: var(--accent-color);
}

/* Cекція hero */

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--hero-background-color);
}

.hero-title {
  text-align: center;
  margin: 0 auto 30px;
  max-width: 696px;

  color: var(--hero-color);

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Кнопка на головній сторінці */

.main-button {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 280px;
  margin: 0 auto;
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;

  color: var(--hero-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  letter-spacing: 0.06em;

  cursor: pointer;
}
.main-button:hover {
  color: var(--hero-color);
  background-color: var(--accent-background-color);

  text-decoration: underline;
}
.main-button:focus {
  color: var(--hero-color);
  background-color: var(--accent-background-color);

  outline: none;
}
/* 
Приховує текст заголовку */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Дві головні секціі для оформлення бекграунду*/

.main-section {
  padding-bottom: 24px;

  background-color: var(--hero-color);
}
/* Контейнер для флексів */

.main-section-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.list-main-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  list-style: none;
}

.flex-description:not(:last-child) {
  margin-right: 30px;
}
/* Секція : "Наші переваги" */

.title-description {
  margin-bottom: 10px;

  text-transform: uppercase;
  font-size: 14px;
}
.description-benefits {
  color: var(--secondary-color);

  line-height: calc(24 / 14);
}
/* Cерія фотографій з секції: "Чим ми займаємось" на головній сторінці*/

.main-title {
  text-align: center;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: calc(42 / 36);
}
.main-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main-list-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  flex-basis: calc((100-60px) / 3);
}
.flex-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  flex-basis: calc((100-60px) / 3);
}
/* Секція з фотографіями нашої команди */
.secondary-title {
  margin: 0 auto 50px;

  font-size: 36px;
  line-height: calc(42 / 36);
}
.secondary-section {
  background-color: var(--secondary-background-color);
}
/* Флекси для секції з фотографіями команди */

.secondary-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.secondary-list-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.item-secondary-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 270px;
}

.item-secondary-flex:not(:last-child) {
  margin-right: 30px;
}

/* Відступи від фотографії учасника до заголовку в секції secondary section */

.image-secondary-flex {
  margin-bottom: 30px;
}

.image-margin {
  margin-bottom: 30px;
}
.team-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-box-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
}
.discription-command {
  color: var(--secondary-color);

  font-size: 16px;
  line-height: calc(19 / 16);
}

/* Сторінка Портфоліо. Стилізація кнопок і карток*/

/* Кнопки */
.hero {
  font-size: 16px;
}

.main-section-portfolio {
  background-color: var(--primary-background-color);

  text-decoration: none;
}

/* Відстіпи від кнопок до карток */
.secondary-buttons {
  margin-bottom: 56px;
}
/* Основне оформлення кнопок  на стопрінці Портфоліо*/

.secondary-buttons:not(:last-child) {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-right: 8px;
}

.item-secondary-button {
  margin-right: 8px;
}
.secondary-button {
  text-align: center;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;

  color: var(--primary-color);
  background-color: var(--secondary-background-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);

  cursor: pointer;
}
.secondary-button:hover {
  color: var(--hero-color);
  background-color: var(--accent-color);

  text-decoration: underline;
}
.secondary-button:focus {
  color: var(--hero-color);
  background-color: var(--accent-color);

  outline: none;
}

/* Картки */

.image-margin-portfolio {
  margin-bottom: 20px;
}

/* Основне оформлення карток */

.list-prtfolio-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.title-item-card {
  margin-bottom: 4px;

  color: var(--primary-color);

  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;

  text-decoration: none;
}
.item-prtfolio-flex {
  margin-bottom: 20px;
  border: ;
}
.item-prtfolio-flexpart {
  padding: 20px 24px;
  border-left: 2px;
}

.title-item-card:hover {
  text-decoration: underline;
}
.project-description {
  color: var(--secondary-color);

  font-size: 16px;
  line-height: calc(30 / 16);
  text-decoration: none;
}
.project-description:hover {
  text-decoration: underline;
}

.text-decoration-portfolio {
  max-width: 370px;
  text-decoration: none;
}

/* Footer */
.footer {
  background-color: var(--hero-background-color);
}

.container-footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 0;
}

.flex-address-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-footer {
  margin-bottom: 20px;

  color: var(--accent-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);

  text-decoration: none;
}
.logo-footer:hover {
  text-decoration: underline;
}
.logo-light {
  color: var(--hero-color);
}

.footer-contacts {
  margin-bottom: 9px;

  color: rgba(255, 255, 255, 0.6);
  line-height: calc(24 / 14);

  font-style: normal;
  text-decoration: none;
}
.footer-contacts:hover {
  color: var(--accent-color);
  text-decoration: underline;
}
.footer-contacts:focus {
  color: var(--accent-color);
}
.footer-adress {
  margin-bottom: 9px;

  color: var(--hero-color);
  line-height: calc(24 / 14);

  font-style: normal;
  text-decoration: none;
}
.footer-adress:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.footer-adress:focus {
  color: var(--accent-color);
}
